.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-variant-numeric: tabular-nums;
}

.counter__digit {
  display: inline-flex;
  min-width: 0.75em;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.counter__digit > span {
  display: inline-block;
}
